nav{
    padding: 2rem 0;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.nav-link{
    border-bottom: 2px solid #007100;
    color: white;
    padding: 1rem;
    margin: 0 .7rem;
    text-decoration: none;
    

}
.nav-link:hover{
    color:  #00FF00;
    transition: 300ms ease-in;
}
.active{
    border-bottom: 2px solid #00FF00;
    color:#00FF00;
}

@media screen and (max-width: 768px) {
    .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .nav-link{
        border-bottom: none;
        
    
    }
    .nav-links li{
        margin: 1rem 0;
    }
  
  
  }

